{% extends "NanaBlogBundle::layout/layout.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/nanablog/css/vice.css') }}" type="text/css" media="all" />
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/nanablog/js/mootools-1.4.1.js') }}"></script>
    
    <script type="text/javascript">
    window.addEvent('domready',function(){
        //alert($('left_con'));
        //var mySlide = new Fx.Slide('left_con');
        $('myElement').addEvent('click', function(){
            alert('clicked!');
        });
        var flag=0;
            //var mySlide = new Fx.Slide('left_con');
            $('left_title').addEvent('click',function(){
                alert("dddd");
                if(flag == 0){
                    event.stop();
                    mySlide.slideOut();
                    flag=1;
                }else{
                    event.stop();
                    mySlide.slideIn();
                    flag=0;
                } 

            });
    });
    
    </script>
{% endblock %}
{% block body %} 
    
    {% block top_title %}日志{% endblock %}
    {% block left %}
        <div calss="left_content">
        {% if app.session.has('user') %}
            <div class="wd mb5"><a href="{{path('new_diary')}}">写日志</a></div>
            <div class="md mb10">
                <a href="#">管理日志</a>
                <a href="#">管理分类</a>
            </div>
        {% endif %}
            
            <div class="left_block">
                <div id="left_title" class="left_title"><h4 id="s">分类</h4></div>
                {% if app.session.has('user') %}
                <div class="left_op"><a href="{{ path('new_diarycat') }}">新建分类</a></div>
                {% endif %}
                <div class="clear"></div>
                <div class="left_line"></div>
                <div id="left_con" class="left_con" >
                    <ul>
                        <li>所有日志</li>
                        
                        {% for diarycat in diarycats %}
                        <li>{{diarycat.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <h4 class="left_title">归档</h4>
                <div class="left_line"></div>
                <div class="left_con">
                    <ul>
                        <li>2011年</li>
                    </ul>
                    <ul>
                        <li>2010年</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block right %}
        <div class="right_top"><span>所有日志</span></div>
        <div class="right_mid">
        {% for diary in pager.getResults %}
            <div class="right_block">
                <div class="right_title"><a href="{{ path('show_diary', { 'id':diary.id }) }}">{{ diary.title }}</a></div>
                <div class="right_specific">作者：{{ diary.author }}  发表日期：{{ diary.date|date('Y-m-d H:i:s') }}</div>
                <div class="clear"></div>                        
            </div>            
        {% endfor %}
        </div>
         <div class="page">
            {% if pager.isPaginable %}
               {{ paginate(pager, 'diary') }}
            {% endif %}
        </div> <div id="myElement">Click me.</div>
    {% endblock %}
{% endblock %}
