{% extends "NanaBlogBundle::Layout/base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/nanablog/css/index.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}

    <div class="index_me">
        <div class="index_block_top">
            <span class="index_block_title">{% trans %}关于我{% endtrans %}</span>
            <span class="index_block_op"><a href="#">编辑个人资料</a></span>
        </div>
        <div class="clear"></div>
        <div class="index_block_line"></div>
        <div class="index_block_bot">

        </div>
    </div>
    <div class="index_diary">
        <div class="index_block_top">
            <span class="index_block_title">日志</span>
            <span class="index_block_op"><a href="#">写日志</a></span>
        </div>
        <div class="clear"></div>
        <div class="index_block_line"></div>
        <div class="index_block_bot">
            {% for diary in diarys %}
                <div class="right_block">
                    <div class="right_title"><a href="{{ path('show_diary', { 'id':diary.id }) }}">{{ diary.title }}</a></div>
                    <div class="right_specific">作者：{{ diary.author }}  发表日期：{{ diary.date|date('Y-m-d H:i:s') }}</div>
                    <div class="clear"></div>                        
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>    
{% endblock %}