<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/nanablog/css/vice.css') }}  type="text/css"  />
        <title>新建日志分类</title>
    </head>
    <body style="width:960px; margin:auto; margin-top:70px;">
        <table style="width:500px; margin:auto; border:1px solid #BBBBBB">
            <tr><td align="center" style="border-bottom:1px solid #BBBBBB;">
                <h1>新建日志分类</h1>
            </td></tr>
            <tr><td style="padding-left:120px;">               
                    <form action="{{ path('new_diarycat') }}"  method="post" {{ form_enctype(form) }}>
                        {{ form_widget(form) }}
                        <button type="submit">提交</button>
                    </form>                 
            </td></tr>
            <tr><td align="center" style="border-top:1px solid #BBBBBB;">
                <a href="{{path('diary')}}">返回</a>
            </td></tr>
        </table>        
    </body>
<html>