{% extends "NanaBlogBundle::layout/base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/nanablog/css/vice.css') }}" type="text/css" media="all" />
{% endblock %}
{% block content %}
   
<div class="diary_title">{{ entity.title }}</div>
<div class="diary_date">作者：{{ entity.author }}  发表日期：{{ entity.date|date('Y-m-d H:i:s') }}</div>
<div class="diary_content">{{ entity.content|nl2br }}</div>

{% endblock %}